.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft 1.8s ease both;
    animation: moveFromLeft 1.8s ease both;
}

.pt-page-moveFromRight {
    -webkit-animation: moveFromRight 1.8s ease both;
    animation: moveFromRight 1.8s ease both;
}

.pt-page-fade {
    -webkit-animation: fade .8s ease both;
    animation: fade .8s ease both;
}


/********************************* keyframes **************************************/

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(50%);
    }
}

@keyframes moveFromRight {
    from {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@-webkit-keyframes fade {
    from {
    }
    to {
        opacity: 0;
    }
}

@keyframes fade {
    from {
    }
    to {
        opacity: 0;
    }
}

