.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft .8s ease both;
    animation: moveFromLeft .8s ease both;
}

.pt-page-moveFromRight {
    -webkit-animation: moveFromRight .8s ease both;
    animation: moveFromRight .8s ease both;
}

.pt-page-fade {
    -webkit-animation: fade .4s ease both;
    animation: fade .4s ease both;
}


/********************************* keyframes **************************************/

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes fade {
    from {
    }
    to {
        opacity: 0.3;
    }
}

@keyframes fade {
    from {
    }
    to {
        opacity: 0.3;
    }
}

