
::selection {
    background: #ffa79b;
}

::-moz-selection {
    background: #ffa79b;
}

h1 {
    font-family: 'YefimovBold', sans-serif;
    font-size: 5rem;
    /*margin: 0;*/
}

h1.smaller {
    font-size: 4rem;
}


.maintitle {
    color: white;
    text-align: center;
}

.subtitle {
    color: white;
    font-family: 'BalticaItalic', sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    margin-top: -22px;
}


p {
    font-size: 1.3rem;
    font-family: 'Baltica', sans-serif;
    margin: 0;
    text-indent: 1.9rem;
    text-align: justify;
}

p.noindent {
    text-indent: 0;
}

.author {
    font-size: 0.8rem;
}

blockquote {
    font-family: 'BalticaItalic', sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    color: #ff4b00;
    page-break-inside: avoid;
    padding: 2.5625rem 0;
    display: block;
    line-height: 1.6;
}

a {
    color: #ff4b00;
    text-decoration: underline;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

.spacer {
    height: 2.5625rem;
}

.subtitile {
    font-weight: 700;
}

.cover {
    width: 100%;
    border: 1px solid #ccc;
}

.large-4 {
    margin-bottom: 40px;
}

#headerpanel {
    background-image: url(../img/00_john_cale_ru_cover.jpg);
    background-position: center right;
    background-size: cover;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;

}

#headerpanel h1 {
    color: #000000;
}

#headerpanel .title,
#headerpanel .columns {
    display: table;
    width: 100%;
    height: 100%;
}

#headerpanel .spanCell {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

#headerpanel .leftcell {
    width: 60%
}

#headerpanel .rightcell {
    width: 40%
}

.ptitle {
    font-family: 'BalticaItalic' sans-serif;
    font-style: italic;
    color: #000000;
}

.centertext {
    text-align: center;
}

.arrow {
    position: fixed;
    width: 80px;
    height: 80px;
    top: 45%;
    z-index: 111;
    overflow: hidden;
}

.next:hover::before,
.prev:hover::before {
    opacity: 1;
    cursor: pointer;
}

.next::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/arrow.png) no-repeat;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.3;
}

.prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/arrow.png) no-repeat;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.3;
}

.next {
    right: 1%;
}

.prev {
    left: 1%;
}

iframe {
    position: absolute;
}

.relat {
    position: relative;
    margin: auto;
}

.iframewrapper {
    position: relative;
    padding-bottom: 100%;
}

.coubintitle {
    margin-top: 20px;
}

.coubinleft {
    margin-top: 20px;
}

@media only screen and (min-width: 64.063em) {
    .large-4.kim:hover {
        height: 0;
    }

    .large-4.kim:hover > .kimbg {
        background: url("../img/02_04.jpg");
        width: 505px;
        height: 726px;
        position: relative;
        top: -226px;
    }

    .large-4.kim:hover > .author {
        display: none;
    }

    .large-4.kim:hover > .nokimbg {
        display: none;
    }

}

@media only screen and (max-width: 75em) {

    #headerpanel .leftcell {
        width: 50%
    }

    #headerpanel .rightcell {
        width: 50%
    }
}

@media only screen and (max-width: 60em) {

    #headerpanel .leftcell {
        display: none;
    }

    #headerpanel .rightcell {
        width: 100%;
        text-align: center;
    }

    #headerpanel .ptitle {
        text-align: center;
    }
}

@media only screen and (max-width: 64.063em) {
    /*.coub {*/
    /*margin-top: -110px;*/
    /*}*/

}

@media only screen and (max-width: 40em) {
    img {
        width: 100%;
        margin-bottom: 10px;
    }


        h1 { font-size: 3rem; }
        h1.smaller {
            font-size: 2rem;
        }


    .subtitle {
        font-size: 1rem;
        margin-top: 0px;
    }




}

.full {
    height: 100%;
}

.enter {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

@media (min-aspect-ratio: 16/9) {
    .bgvid {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bgvid {
        width: 300%;
        left: -100%;
    }
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
    .bgvid {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.v-centered {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.hover {
    cursor: pointer;
}

.black {
    color: black
}

.ml20 {
    margin-left: 20%;
}

.menuhub {
    display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
    -webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
    display: -webkit-flex; /* оптимизация для Safari */
    webkit-justify-content: space-between; /* оптимизация для Safari */
    display: flex;
    justify-content: space-between;
    text-align: justify; /* IE10-, Firefox 12-22 */
    text-align-last: justify; /* IE10-, Firefox 12-22 */
    height: 100px;
}

.menu {
    width: 9%;
    height: 100%;
    display: inline-block;
    display: -webkit-box;
    opacity: .2;
    background-size: cover;
    background-position: center;
}

.currentmenu {
    opacity: 1;
}

.menu:hover {
    background-color: #ffa37a;
    background-blend-mode: multiply;
    opacity: 1;
    cursor: pointer;
    background-size: 120%;
    transition: 500ms linear;
}

.currentmenu:hover {
    background-color: #fff;
    background-blend-mode: multiply;
    opacity: 1;
    cursor: auto;
    background-size: 100%;
}

.m00 {
    background-image: url('/static/img/p00.jpg');
}

.m01 {
    background-image: url('/static/img/p01.jpg')
}

.m02 {
    background-image: url('/static/img/p02.jpg')
}

.m03 {
    background-image: url('/static/img/p03.jpg')
}

.m04 {
    background-image: url('/static/img/p04.jpg')
}

.m05 {
    background-image: url('/static/img/p05.jpg')
}

.m06 {
    background-image: url('/static/img/p06.jpg')
}

.m07 {
    background-image: url('/static/img/p07.jpg')
}

.m08 {
    background-image: url('/static/img/p08.jpg')
}

.m09 {
    background-image: url('/static/img/p09.jpg')
}

.paginator {display: none;}