<section class="pt-page full">


    <div class="enter">


        <video autoplay loop="" muted=""
               poster="/static/img/_bgvid.jpg"
               class="bgvid">
            <source src="/static/img/_bgvid.mp4"
                    type="video/mp4">
        </video>


        <div class="row v-centered">
            <div     class="large-16 columns"><h1 class="maintitle">Джон Кейл</h1>
                <h2 class="subtitle">вне и внутри синдиката снов</h2>

                <h1 class="maintitle hover rarrow">&rarr;</h1>

            </div>
        </div>


    </div>


</section>

