<section class="pt-page full">


    <div class="enter">


        <video autoplay loop="" muted=""
               poster="http://storage.akamai.coub.com/get/b249/p/coub/simple/cw_image/c5891ed6b38/b449d6d716db8b502c9db/med_1460294400_00032.jpg"
               class="bgvid">
            <source src="http://storage.akamai.coub.com/get/b249/p/coub/simple/cw_file/020c9cc0401/2fa45b06ca50d4ec51a9e/muted_mp4_big_size_1460294103_muted_big.mp4"
                    type="video/mp4">
        </video>


        <div class="row v-centered">
            <div     class="large-16 columns"><h1 class="maintitle">Джон Кейл</h1>
                <h2 class="subtitle">вне и внутри синдиката снов</h2>

                <h1 class="maintitle hover rarrow">&rarr;</h1>

            </div>
        </div>


    </div>


</section>

