<section class="pt-page">


    <div class="row">
        <div class="large-16 columns">
            <img class="lazyload" src="static/img/01_01.jpg"></div>
    </div>


    <div class="row">
        <div class="large-4 medium-3 columns"></div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns"><h1>Вот взрыв</h1></div>
    </div>


    <div class="row">

        <div class="large-4 medium-3 columns sticky coub">


            <div class="iframewrapper">
                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yqvu?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="100%"></iframe>
            </div>

        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p class="noindent">Короче, было это так: в&nbsp;89-м или 88-м
                знакомые дали мне в&nbsp;комплекте с&nbsp;первым
                родным винилом The Doors (коричневая обложка&nbsp;&mdash;
                бабочка на&nbsp;яблочке) какого-то чувака
                Джона
                Кейла, он&nbsp;на&nbsp;песочке в&nbsp;зеркальных очках, тоже
                винил&nbsp;&mdash; &laquo;не&nbsp;очень, но&nbsp;послушай&raquo;.
                Ах, карррабиен каррабиен сансет. Она сказала &laquo;нет&raquo;,
                но&nbsp;она
                имела в&nbsp;виду &laquo;может&raquo;. И&nbsp;диск John
                Cale &laquo;Carribean Sunset&raquo; 1984,
                заинтересовавший присутствием Ино&nbsp;&mdash; колошматенье по&nbsp;клавишам&nbsp;&mdash;
                минималистично
                и&nbsp;напряженно&nbsp;&mdash;
                странный рок, вот как-то вошел в&nbsp;мое сердце, вот близок он&nbsp;мне
                стал, а&nbsp;две песни, чуваки,
                там
                вообще сумасшедшие.</p>

            <p>И&nbsp;я&nbsp;не&nbsp;знал, кто такой Джон Кейл. И&nbsp;я&nbsp;не&nbsp;знал
                про&nbsp;то, что он&nbsp;играл
                в&nbsp;The
                Velvet Underground и&nbsp;что диск этот считается неудачным, я&nbsp;не&nbsp;видел
                его ни&nbsp;разу на&nbsp;CD
                до&nbsp;сих пор, но, вот вступает перкуссия или метроном и&nbsp;скрипки,
                и&nbsp;он&nbsp;снова поет
                (скачанное давно через Napster):</p>


            <blockquote>She said&nbsp;no, she meant maybe<br/>
                She said she wasn&rsquo;t that type of&nbsp;girl ...<br/>
                Caribbean, Caribbean, Caribbean<br/>
                Caribbean, Caribbean, Caribbean Sunset<br/>
                Caribbean, Caribbean Sunset<br/>
                Caribbean, Caribbean Sunset
            </blockquote>


        </div>
    </div>

    <div class="row">
        <div class="large-4 medium-3 columns sticky"><img class="lazyload"
                                                          data-src="static/img/01_02.jpg">
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p>Отрывки из&nbsp;книги Виктора Бокриса &laquo;Трансформер: История
                Лу&nbsp;Рида&raquo;.
                Глава&nbsp;5. &laquo;Образование
                Velvet Underground&raquo;. Loureed.ru:</p>

            <p>Когда Лу&nbsp;начал навещать Джона Кейла в&nbsp;убогом богемном
                жилище на&nbsp;Ладлоу Стрит 56&nbsp;в
                недрах
                Нижнего Ист-Сайда на&nbsp;Манхэттене, он&nbsp;ровным счетом
                ничего не&nbsp;знал о&nbsp;Ла&nbsp;Монте
                Янге,
                его &laquo;Театре Вечной музыки&raquo; и&nbsp;имел весьма слабое
                представление о&nbsp;мире, в&nbsp;который
                вторгся. Кейл в&nbsp;свою очередь был под впечатлением от&nbsp;рок-н-ролльной
                личности Рида и&nbsp;того,
                сколь непринужденно тот сочинял стихи, но&nbsp;весьма
                высокомерно относился к&nbsp;его попыткам начать
                творческое сотрудничество. </p>

            <p>&laquo;Он&nbsp;пытался собрать группу,&nbsp;&mdash; вспоминал
                Кейл.&nbsp;&mdash; А&nbsp;у&nbsp;меня не&nbsp;было
                желания слушать его песни. Они казались жалкими. Он&nbsp;уже
                написал Heroin и&nbsp;Waiting For My&nbsp;Man,
                но&nbsp;ему не&nbsp;разрешали их&nbsp;запись, просто не&nbsp;хотели
                иметь с&nbsp;этим ничего общего. Мне&nbsp;же
                было просто не&nbsp;интересно, большая часть музыки была
                написана как фолк, он&nbsp;исполнял свои песни
                на&nbsp;акустической
                гитаре, так что я&nbsp;не&nbsp;обращал на&nbsp;них внимания,
                меня тошнило от&nbsp;фолк-музыки. Я&nbsp;ненавидел
                Джоан Баэз и&nbsp;Дилана. Каждая песня была просто
                пыткой!&raquo;</p>

            <p>Несмотря на&nbsp;свою музыкальную одаренность и&nbsp;обучение у&nbsp;величайших
                авангардных композиторов
                столетия вплоть до&nbsp;двадцати пяти лет, к&nbsp;1965 году Кейл
                почувствовал, что карьера его зашла в&nbsp;тупик. &laquo;Я&nbsp;пришел
                в&nbsp;никуда со&nbsp;своими классическими представлениями о&nbsp;музыке&raquo;,&nbsp;&mdash;
                говорил&nbsp;он,
                отчаявшись найти новый музыкальный подход. Такое отношение
                разделяла семья, оказывавшая на&nbsp;него
                давление и&nbsp;принуждавшая искать работу. Как и&nbsp;мать&nbsp;Лу,
                миссис Кейл, школьная учительница в&nbsp;маленькой
                шахтерской деревушке в&nbsp;Уэльсе, бывшая замужем за&nbsp;шахтером,
                настаивала на&nbsp;том, что Джон
                никогда не&nbsp;заработает себе на&nbsp;жизнь музыкой, и&nbsp;ему
                следовало&nbsp;бы стать врачом или
                юристом.</p>

            <p>Лу&nbsp;и&nbsp;Джон решили сформировать группу, оркестровать их&nbsp;материал
                в&nbsp;приемлемую для
                выступлений и&nbsp;записи форму и&nbsp;рискнуть выпустить свою
                музыку в&nbsp;свет.</p>

            <p>&laquo;Когда мы&nbsp;впервые начали работать вместе, все
                основывалось на&nbsp;том, что мы&nbsp;интересовались
                одними и&nbsp;теми&nbsp;же вещами,&nbsp;&mdash; говорил
                Кейл. &mdash;&nbsp;Мы&nbsp;оба нуждались в&nbsp;проводнике;
                Лу&nbsp;нужен был кто-то, чтобы провести свои поэтические идеи,
                а&nbsp;мне кто-то, кто воплотил&nbsp;бы
                мои
                музыкальные замыслы. Идея организовать группу и&nbsp;выйти на&nbsp;сцену
                выглядела превосходной, потому
                что,
                казалось, все играют одно и&nbsp;тоже снова и&nbsp;снова.
                Каждый, у&nbsp;кого была рок-н-ролльная группа
                в&nbsp;те&nbsp;дни,
                следовал стандарту. Я&nbsp;решил, что единственный способ
                пощекотать всем нервы, это сделать
                импровизацию,
                длящуюся сколь угодно долго&raquo;.</p>

            <p>&laquo;Наша музыка эволюционировала под коллективным
                воздействием,&nbsp;&mdash; рассказывал Стерлинг
                (Моррисон). &mdash;&nbsp;Лу&nbsp;приходил с&nbsp;набросками
                стихов, и&nbsp;мы&nbsp;все работали над
                музыкой.
                Практически всегда происходило именно так. Мы&nbsp;вместе
                вырубали из&nbsp;этого что-то очень мощное.
                Джон
                пытался быть серьёзным молодым композитором, у&nbsp;него за&nbsp;плечами
                не&nbsp;было ничего связанного
                с&nbsp;роком,
                это было потрясающе, он&nbsp;не&nbsp;знал никаких клише.
                Послушай его басовые партии, он&nbsp;не&nbsp;знал
                никаких расхожих рифов, абсолютно необычно. Waiting For My&nbsp;Man
                была просто сверхъестественна.
                Работать
                с&nbsp;Джоном было сплошным удовольствием&raquo;.</p>

            <p>Их&nbsp;первым несомненным достижением в&nbsp;аранжировке стала
                Venus in&nbsp;Furs. Как только Кейл
                добавил
                виолу, подчеркнув &laquo;страусиную&raquo; гитару Рида,
                иррационально и&nbsp;без тени сомнения, по&nbsp;спине
                его пробежали мурашки. Им, он&nbsp;это понял, удалось найти
                своё, при том мощное, звучание. Кейл, у&nbsp;которого
                была мания по&nbsp;звуку, вспоминал: &laquo;В&nbsp;тот момент я&nbsp;подумал,
                что&nbsp;мы, наконец,
                открыли
                действительно оригинальный, безумный стиль&raquo;. Словами этой
                песни, как писал британский критик
                Ричард
                Уильямс, &laquo;Лу&nbsp;Рид изменил реалии поп музыки раз и&nbsp;навсегда&raquo;.
                Но&nbsp;это были не&nbsp;просто
                слова. Для Heroin и&nbsp;Venus in&nbsp;Furs была создана музыка,
                точно соответствовавшая их&nbsp;тематике,
                и&nbsp;она
                звучала непохоже ни&nbsp;на&nbsp;что другое, звучавшее раньше.
                Были исключены блюзовая тональность и&nbsp;афроамериканские
                ритмы&nbsp;&mdash; базовые компоненты всего предшествовавшего
                рок-н-ролла. Превалирующими звуками стали
                шершавый скрип электрической виолы Кейла и&nbsp;фидбэки гитары
                Рида, ускорявшиеся и&nbsp;замедлявшиеся в&nbsp;соответствии
                с&nbsp;текущими потребностями стихов.</p>


        </div>
    </div>

    <div class="row spacer"></div>

</section>

