<section class="pt-page">

    <div class="row">
        <div class="large-16 columns">
            <img class="lazyload" data-src="static/img/02_01.jpg">
        </div>
    </div>


    <div class="row">

        <div class="large-4 medium-3 columns coubintitle">

            <div class="iframewrapper">


                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yqw2?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="100%"></iframe>
            </div>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <h1 class="smaller">
                Кармен Миранда, the&nbsp;Breeders и&nbsp;Робер Брессон
            </h1>

            <p class="noindent">
                Since the soul of&nbsp;Carmen Miranda had captured the mind of&nbsp;man&nbsp;&mdash;
                такая лёгкая летящая, прото-иновская (ENO) вещь, замыкающая странную Words For The Dying, на&nbsp;стихи
                Дилана
                Томаса&nbsp;&mdash; но&nbsp;эта песня&nbsp;&mdash; кейловская.</p>


        </div>
    </div>
    <div class="row spacer"></div>


    <div class="row">
        <div class="large-4 medium-3 columns">
            <img class="lazyload" data-src="static/img/02_02.jpg">
        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <p>
                Отрывок из&nbsp;статьи в&nbsp;&laquo;Забриски Rider&raquo; &#8470;&nbsp;9, 1999.
                Ия&nbsp;Моцкобили &laquo;Джон Кейл&raquo;:
            </p>

            <p>
                <i>Ия&nbsp;Моцкобили:</i> Не&nbsp;могли&nbsp;бы вы&nbsp;поделиться воспоминаниями о&nbsp;Нико и&nbsp;Патти
                Смит, легендарных певицах. Первой уже нет в&nbsp;живых, а&nbsp;вторая, напротив, вернулась недавно на&nbsp;сцену.
            </p>

            <p>
                <i>Джон Кейл:</i> Они были разные, одна из&nbsp;Европы&nbsp;&mdash; Нико приехала из&nbsp;Германии,
                Патти&nbsp;&mdash; американка. Для Патти Смит очень большое значение имела семья, это видно и&nbsp;по&nbsp;ее&nbsp;альбомам
                и&nbsp;по&nbsp;отношению к&nbsp;музыкантам. А&nbsp;Нико была одиночка, она была плохо приспособлена к&nbsp;жизни,
                к&nbsp;тому&nbsp;же в&nbsp;Америке у&nbsp;нее никого не&nbsp;было. Она писала песни на&nbsp;чужом языке.
                Надо иметь определенное мужество так быстро прожить свою жизнь, как она. Чем-то она была похожа на&nbsp;Джима
                Моррисона. Впрочем, не&nbsp;хочу делать ее&nbsp;героем.
            </p>

            <p>
                <i>Ия&nbsp;Моцкобили:</i> Поддерживаете&nbsp;ли вы&nbsp;связь с&nbsp;Патти Смит в&nbsp;настоящее время?
            </p>

            <p>
                <i>Джон Кейл:</i> Я&nbsp;бы сказал, что поддерживаю связь не&nbsp;только с&nbsp;Патти Смит, но&nbsp;и&nbsp;с&nbsp;Нико.
            </p>


        </div>
    </div>

    <div class="row spacer"></div>


    <div class="row">
        <div class="large-4 medium-3 columns">

        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns" style="z-index: 22;">


            <p>Он&nbsp;читал стихи и&nbsp;играл куски на&nbsp;синтезаторе, чтобы посмотреть, что будет жить... Что я&nbsp;знаю
                о&nbsp;Кармен Миранде&nbsp;&mdash; что она не&nbsp;стала суперзвездой в&nbsp;Голливуде, приехав из&nbsp;Бразилии.
                Что она была красива, очень красива, что она напоминает мне чем-то Роми Шнайдер&nbsp;&mdash; но&nbsp;я&nbsp;ничего
                этого ещё не&nbsp;знаю, я&nbsp;только увлечён этой светлой наполненной горным воздухом минорной светлой
                балладой.</p>


        </div>
    </div>

    <div class="row spacer"></div>

    <div class="row">
        <div class="large-4 medium-3 columns kim">
            <div class="kimbg"></div>
            <img class="lazyload nokimbg" data-src="static/img/02_03.jpg">

            <p class="author noindent">Kim Deal</p>

        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">


            <p>
                Есть, есть некоторый тип художников, неважно, деятелей культуры, стиль которых заключается среди прочего
                в&nbsp;том, что его трудно определить. Guts, guts, got no&nbsp;guts. Они&nbsp;&mdash; эти деятели
                культуры&nbsp;&mdash; как&nbsp;бы &laquo;никакие&raquo;, нет в&nbsp;них особого признака, как простая
                вода отличается от&nbsp;коньяка, чая, кофе и&nbsp;т.д. Ну&nbsp;что про её&nbsp;вкус скажешь. Так и&nbsp;здесь,
                я&nbsp;назову несколько имен, которые, более или менее, подходят под это определение&nbsp;&mdash;
                какой? &mdash;&nbsp;какой, какой&nbsp;&mdash; да&nbsp;никакой! Это Джон Кейл, Joy Division, the
                Breeders. Это Wols&nbsp;&mdash; Альфред Отто Вольфганг Шульц&nbsp;&mdash; один из&nbsp;ярчайших
                представителей абстрактного экспрессионизма, родоначальник &laquo;информеля&raquo;, официальный фотограф
                Всемирной выставки в&nbsp;Париже, оригинальный иллюстратор текстов Арто, Кафки и&nbsp;Сартра. Но&nbsp;первое
                имя здесь&nbsp;&mdash; Робер Брессон, но&nbsp;об&nbsp;этом не&nbsp;здесь. Так вот, качество это
                представляется мне весьма ценным, ибо в&nbsp;нём есть что-то от&nbsp;прозрачности, невзрачности,
                простоты, обыденности самой жизни, в&nbsp;которой растворены все любови, конфликты, культуры, идеи. Это&nbsp;&mdash;
                самая, на&nbsp;мой взгляд, отличительная черта Джона Кейла, а&nbsp;кто не&nbsp;понял, тому и&nbsp;не&nbsp;надо.</p>


        </div>
    </div>
    <div class="row spacer"></div>
    <div class="row">
        <div class="large-16 columns">
            <img class="lazyload cover" data-src="static/img/02_05.jpg"></div>

    </div>

    <div class="row">
        <div class="large-4 medium-3 columns"></div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <h1>
                Dead Agents
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="large-4 medium-3 columns">
        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <p class="noindent">После пластинки 1996 года &laquo;Walking on&nbsp;Locusts&raquo; Кейл должен был записать
                по&nbsp;заказу
                ... &mdash;&nbsp;цикл песен &laquo;Мертвые агенты&raquo;.</p>
        </div>
    </div>

    <div class="row spacer"></div>

    <div class="row">
        <div class="large-4 medium-3 columns">
        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <p><i>Вопрос:</i> Над чем вы&nbsp;работаете сейчас?</p>

            <p><i>Джон:</i> Я&nbsp;пишу по&nbsp;заказу &laquo;ICA Concert&raquo; цикл песен под общим названием &laquo;Dead
                Agents&raquo;. Мне попалась книга, которую написал дешифровщик, работавший в&nbsp;годы Второй мировой
                войны
                в&nbsp;Блетчли-парке в&nbsp;Англии (знаменитый центр радиоперехвата и&nbsp;дешифровки). Во&nbsp;время
                войны
                он&nbsp;посвящал английским агентам стихотворения&nbsp;&mdash; некоторые из&nbsp;них очень красивы,
                похожи
                на&nbsp;любовные поэмы. Одно он&nbsp;написал для женщины по&nbsp;имени Виолетт Жабо, которую нацисты
                арестовали во&nbsp;Франции, это очень известное стихотворение. В&nbsp;книге он&nbsp;рассказывает о&nbsp;своей
                жизни, но&nbsp;он&nbsp;ввел в&nbsp;текст и&nbsp;свои стихи, многие из&nbsp;них очень красивы, и&nbsp;я&nbsp;сейчас
                пытаюсь включить три-четыре из&nbsp;них в&nbsp;свой цикл песен. Возможно, я&nbsp;привезу их&nbsp;в&nbsp;Петербург.
            </p>

            <p>Интервью взято по&nbsp;телефону из&nbsp;Нью-Йорка для газеты &laquo;The St. Petersburg Times&raquo;,
                выходящей на&nbsp;английском языке. Апрель 1999, Сергей ЧЕРНОВ (FUZZ)</p>
        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">
        <div class="large-4 medium-3 columns">
            <img class="lazyload" data-src="static/img/02_06.jpg"><br/><br/>


            <div class="iframewrapper">
                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yqw6?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="400"></iframe>
            </div>


        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <p>Время прошло&nbsp;&mdash; диск не&nbsp;вышел, да, да, да, не&nbsp;вышел. Вышел &laquo;HoboSapiens&raquo;
                и&nbsp;новейший &laquo;Чёрный
                ацетат&raquo;&nbsp;&mdash; &laquo;blackAcetate&raquo;. А&nbsp;я&nbsp;ждал мёртвых агентов, а&nbsp;я&nbsp;ждал
                встречи с&nbsp;Виолетт Жабо.</p>

            <p>Агенты, агенты&nbsp;&mdash; живые и&nbsp;мёртвые, вне рамок своей расы, культуры, времени&nbsp;&mdash;
                они&nbsp;&mdash;
                мы&nbsp;&mdash; несут&nbsp;&mdash; несём то&nbsp;знание, что именуется культурой&nbsp;&mdash; как в&nbsp;конце &laquo;451
                по&nbsp;Фаренгейту&raquo;&nbsp;&mdash; кто-то запомнил наизусть Швейцера, кто-то Эйнштейна, так Гарик
                Чекрыжов, Сид, Хаба, ЛистенТуРамонс&nbsp;&mdash; хранят и&nbsp;несут куда-то дальше&nbsp;их (Ramones)
                творчество, или <a href="http://ramones.ru/board/topic265.html" target="_blank">как выразился Mix</a>&nbsp;&mdash;
                их&nbsp;огонь. Да. Я&nbsp;несу&nbsp;&mdash; пытаюсь нести&nbsp;&mdash; Робера Брессона и&nbsp;Эдварда
                Хоппера, кто-то несёт кого-то&nbsp;&mdash; и&nbsp;вот вещь видоизменяется, потому что каждый несёт&nbsp;то,
                что он&nbsp;любит сильнее всего, и&nbsp;так и&nbsp;получается морфология, изменение, наследование и&nbsp;сохранение
                культуры&nbsp;&mdash; и&nbsp;здесь уже все становятся традиционалистами, потому что хранить в&nbsp;душе,
                это
                ведь не&nbsp;со&nbsp;сцены ссать блевать (ну&nbsp;и&nbsp;т.д. ) &mdash; это абсолютно другой процесс и&nbsp;в&nbsp;нем
                меньше &laquo;я&raquo;. Так что может и&nbsp;не&nbsp;по&nbsp;теме, но&nbsp;так я&nbsp;понимаю
                слово &laquo;агент&raquo;.
                И&nbsp;до&nbsp;знакомства с&nbsp;Гариком и&nbsp;Хабой&nbsp;&mdash; я&nbsp;чувствовал себя единственным
                агентом &laquo;Ramones&raquo; в&nbsp;совке&nbsp;&mdash; а&nbsp;точнее в&nbsp;России.</p>
        </div>
    </div>

    <div class="row spacer"></div>


    <div class="row">
        <div class="large-4 medium-3 columns">


            <img class="lazyload" data-src="static/img/02_07.jpg">

            <p class="author noindent">John Cale with his daughter Eden Cale, foto by Billy Name </p>


        </div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <p class="noindent subtitile">«Мы живем на пустыре»</p>

            <p class="noindent">Я&nbsp;реально слушаю последнего Кейла &laquo;чёрныйАцетат&raquo; и&nbsp;печатаю эти
                слова
                ни&nbsp;для кого, да&nbsp;хороший альбом их&nbsp;у&nbsp;него так много и&nbsp;эти две песни&nbsp;&mdash;
                они
                самые кейловские, в&nbsp;кавычках, самые привычные опознаваемые для меня&nbsp;&mdash; дрыньк по&nbsp;клавишам&nbsp;&mdash;
                медленный темп, медленный темп скрипки, там такие светлые гармонии на&nbsp;бэкграунде, а&nbsp;на&nbsp;фото&nbsp;&mdash;
                доча, а&nbsp;автор фото&nbsp;&mdash; Билли Нейм, имя которого неотделимо от&nbsp;Уорхола, не&nbsp;его&nbsp;ли
                (Б.Н.) татуха на&nbsp;&laquo;White Light/White Heat&raquo;, и&nbsp;после этого альбома Лу&nbsp;Рид
                попросил
                ребят сказать Кейлу, что он&nbsp;больше не&nbsp;может с&nbsp;ним играть.</p>

            <p>Я&nbsp;вот все думаю, вот я&nbsp;привез первые диски Кейла из&nbsp;Парижа, все очень интимно, и&nbsp;вот,
                он&nbsp;расписывается
                (прошлые гастроли) на&nbsp;полиграфии к&nbsp;&laquo;Walking On&nbsp;Locusts&raquo;, на&nbsp;своем орущем
                рту
                рте и&nbsp;так далее... все пустырь пустошь одиночество&nbsp;&mdash; вот магистральная тема, и&nbsp;я&nbsp;вот
                думаю, в&nbsp;какой&nbsp;же это момент я&nbsp;решил что&nbsp;&mdash; вот &laquo;мой это исполнитель&raquo;,
                и&nbsp;знаете, я&nbsp;думаю, просто вспоминая, вспоминая, давно затертую дописку на&nbsp;какой-то
                кассете
                две песни с&nbsp;&laquo;Carribean Sunset&raquo;.</p>
        </div>
    </div>


    <div class="row spacer"></div>

</section>

