<section class="pt-page">

    <div class="row">
        <div class="large-16 columns">
            <img class="lazyload cover" data-src="static/img/05_01.jpg">
        </div>
    </div>


    <div class="row">
        <div class="large-4 medium-3 columns"></div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <h1>
                Джон Кейл как продюсер
            </h1>
        </div>
    </div>


    <div class="row">

        <div class="large-4 medium-3 columns">

        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">


            <p class="noindent subtitile">Избранное</p>

            <p class="noindent">1969&nbsp;&mdash; The Stooges&nbsp;&mdash; The Stooges<br/>
                1968&nbsp;&mdash; Nico&nbsp;&mdash; The Marble Index<br/>
                1970&nbsp;&mdash; Nico&nbsp;&mdash; Desertshore<br/>
                1974&nbsp;&mdash; Nico&nbsp;&mdash; The End<br/>
                1985&nbsp;&mdash; Nico&nbsp;&mdash; Camera Obscura<br/>
                1973&nbsp;&mdash; Modern Lovers&nbsp;&mdash; Modern Lovers<br/>
                1975&nbsp;&mdash; Patti Smith&nbsp;&mdash; Horses<br/>
                1978&nbsp;&mdash; Squeeze&nbsp;&mdash; Squeeze<br/>
                1987&nbsp;&mdash; Element of&nbsp;Crime&nbsp;&mdash; Try to&nbsp;be&nbsp;Mensch<br/>
                1994&nbsp;&mdash; Siouxsie &amp;&nbsp;The Banshees&nbsp;&mdash; The Rapture</p>

        </div>
    </div>

    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns coub">
            <div class="iframewrapper">
                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yr1v?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="100%"></iframe>
            </div>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">


            <p><i>Вопрос:</i> Вы&nbsp;продюсировали первый альбом Патти Смит&nbsp;&mdash; Horses.</p>

            <p><i>John Cale:</i> Мы&nbsp;так ругались! У&nbsp;Патти есть манера вести разговор, как будто она боксер на&nbsp;тренировке.
                Первым делом я&nbsp;отобрал у&nbsp;всей группы их&nbsp;жуткие инструменты, ужасно расстроенные и&nbsp;покоробленные.
                Весь день я&nbsp;их&nbsp;настраивал, а&nbsp;потом оказалось, что группа стала звучать препаршиво. И&nbsp;я&nbsp;достал
                им&nbsp;новые инструменты. Дал этим ребятам, впечатлительным музыкантам, новые гитары, чтобы они сыграли
                так, как привыкли. Но&nbsp;результат невозможно переоценить.</p>

            <p>Rolling Stone, 17&nbsp;октября 1996, Эл&nbsp;Уизел</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns coub">
            <div class="iframewrapper">
                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yr22?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="100%"></iframe>
            </div>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p><i>Вопрос:</i> Не&nbsp;могли&nbsp;бы Вы&nbsp;поделиться воспоминаниями о&nbsp;Нико и&nbsp;Патти Смит,
                легендарных певицах. Первой уже нет в&nbsp;живых, а&nbsp;вторая, напротив, вернулась недавно на&nbsp;сцену.
            </p>

            <p><i>John Cale:</i> Они были разные, одна из&nbsp;Европы&nbsp;&mdash; Нико приехала из&nbsp;Германии, Патти&nbsp;&mdash;
                американка. Для Патти Смит очень большое значение имела семья, это видно и&nbsp;по&nbsp;ее&nbsp;альбомам,
                и&nbsp;по&nbsp;отношению
                к&nbsp;музыкантам. А&nbsp;Нико была одиночка, она была плохо приспособлена к&nbsp;жизни, к&nbsp;тому&nbsp;же
                в&nbsp;Америке у&nbsp;нее никого не&nbsp;было. Она писала песни на&nbsp;чужом языке. Надо иметь
                определенное
                мужество так быстро прожить свою жизнь, как она. Чем-то она была похожа на&nbsp;Джима Моррисона.
                Впрочем, не&nbsp;хочу
                делать ее&nbsp;героем.</p>

            <p>&laquo;Забриски Rider&raquo; N&nbsp;9 (1999&nbsp;г.) Ия&nbsp;Моцкобили &laquo;Джон Кейл&raquo;</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns coub sticky">
            <div class="iframewrapper">
                <iframe class="lazyload"
                        data-src="http://coub.com/embed/6yr3l?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="100%"></iframe>
            </div>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p><i>Вопрос:</i> Вы&nbsp;работали со&nbsp;многими музыкантами как продюсер, некоторых вы&nbsp;впервые
                представили публике. Какими своими продюсерскими работами вы&nbsp;особенно гордитесь?</p>

            <p><i>John Cale:</i> Пластинками Патти Смит и&nbsp;Игги (Попа). Во&nbsp;многих группах, с&nbsp;которыми я&nbsp;работал,
                было что-то, что в&nbsp;каком-то смысле выводило их&nbsp;за&nbsp;рамки рок-н-ролла. А&nbsp;с&nbsp;The
                Stooges я&nbsp;стал работать, потому что это была настоящая рок-н-ролльная группа. Трудность была в&nbsp;том,
                что они поразительно играли на&nbsp;концерте, и&nbsp;Джеймс (Остерберг&nbsp;&mdash; настоящее имя Игги
                Попа)
                на&nbsp;сцене был уникально индивидуален... Головоломка состояла в&nbsp;том, что нужно было попытаться
                передать визуальный аспект выступления в&nbsp;пластинке. В&nbsp;конце концов, мы&nbsp;ничего не&nbsp;смогли
                с&nbsp;этим поделать: получилась очень прямая, очень профессиональная запись...</p>

            <p>С&nbsp;Патти все было совсем иначе. Она поэт, работала в&nbsp;технике &laquo;нарезки&raquo; (cut-up
                theory)
                Уильяма Берроуза, и&nbsp;мы&nbsp;все это воплотили в&nbsp;альбоме. И&nbsp;это было очень важно, потому
                что
                мы&nbsp;установили своеобразный рекорд: мы&nbsp;нарушили все нормы.</p>

            <p>Апрель 1999, Сергей Чернов (FUZZ)</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns">

        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p class="noindent subtitile">О&nbsp;работе с&nbsp;Брайаном Ино </p>

            <p class="noindent">...Брайан не&nbsp;боится техники, и&nbsp;с&nbsp;ним очень весело работать. Знаете,
                бодрит,
                когда кто-то выворачивает на&nbsp;полную катушку все ручки аппаратуры в&nbsp;студии и&nbsp;не&nbsp;думает
                о&nbsp;том,
                как она поведет себя.</p>

            <p>&laquo;Забриски Rider&raquo; N&nbsp;9 (1999&nbsp;г.). Ия&nbsp;Моцкобили &laquo;Джон Кейл&raquo;</p>

        </div>
    </div>

    <div class="row spacer"></div>
    <div class="row spacer"></div>

    <div class="row">


        <div class="large-16 medium-16 columns menuhub">

            <div class="menu m00"></div>
            <div class="menu m01"></div>
            <div class="menu m02"></div>
            <div class="menu m03"></div>
            <div class="menu m04"></div>
            <div class="menu m05 currentmenu"></div>
            <div class="menu m06"></div>
            <div class="menu m07"></div>
            <div class="menu m08"></div>
            <div class="menu m09"></div>
        </div>


    </div>


    <div class="row spacer"></div>
</section>