<section>

    <div class="row">
        <div class="large-16 columns">
            <img data-layzr="static/img/07_00.jpg" class="cover">
        </div>
    </div>


    <div class="row">
        <div class="large-4 medium-3 columns"></div>
        <div class="large-2 medium-0 columns"></div>
        <div class="large-10 medium-13 columns">
            <h1 class="smaller">
                Джон Кейл: «Я не забочусь об имидже»
            </h1>
        </div>
    </div>


    <div class="row">

        <div class="large-4 medium-3 columns sticky">
            <img data-layzr="static/img/07_01.jpg" class="cover">

            <p class="author noindent">John Cale — Artificial Intelligence, 1985 и Парижский магазин Gibert Joseph</p>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p class="noindent">Так-то оно вот так&nbsp;&mdash; как&nbsp;&mdash; вот так и&nbsp;так&nbsp;&mdash; вот оно
                и&nbsp;подкатывает.
                О&nbsp;чем, о&nbsp;том&nbsp;же. Пустота и&nbsp;одиночества, сырой воздух, ЖЖ&nbsp;ЖЖ&nbsp;ЖЖ&nbsp;ЖЖ&nbsp;ЖЖ&nbsp;ЖЖ</p>

            <p>Да, Париж чудесен тем, что серость Парижа намокает&nbsp;&mdash; в&nbsp;дождь чудесен он&nbsp;Сеной
                Miss-Tic и&nbsp;своим
                кофе, и&nbsp;своей обыденностью, бабами, чудесными бронзовыми статуями Майоля в&nbsp;саду Тюильри и&nbsp;одной
                связанной Бурделя. Ребята, кто взял себе за&nbsp;труд вот почитать эту вот мою писанину кто-нибудь
                словил
                кайф, понял что-то, потянулся к&nbsp;Кейлу, а....? Я&nbsp;не&nbsp;хочу ответа, первое&nbsp;&mdash;
                потому
                что предполагаю без боли отрицательный, а&nbsp;второе&nbsp;&mdash; мне уже давно все равно, а&nbsp;третье&nbsp;&mdash;
                буду пить кофе сейчас&nbsp;я. А&nbsp;четвертое&nbsp;&mdash; пусть любой человек не&nbsp;сможет слушать
                диск
                Music For A&nbsp;New Society 1982. Мне это по&nbsp;фигу, по&nbsp;фигу, по&nbsp;фигу, по&nbsp;фигу.</p>

            <p>&nbsp;</p>

            <p>...кофе&nbsp;&mdash; горький.</p>

            <p>If&nbsp;You Were Still Around</p>

            <p>Rise, Sam and Rimsky-Korsakov</p>

            <p>Rise&nbsp;&mdash; это жена Кейла, Сэм Шеппард&nbsp;&mdash; это драматург и&nbsp;актёр.</p>

            <p>Dying on&nbsp;the Vine&nbsp;&mdash; это с&nbsp;&laquo;Artificial Intelligence&raquo; 1985&nbsp;&mdash;
                искусственного интеллекта&nbsp;&mdash; наилучшего или одного из&nbsp;лучших, так точнее, диска Джона
                Кейла,
                кажись, типа, вот после него он&nbsp;перестал как&nbsp;бы быть шоуменом, ну&nbsp;или рок-стар, или ещё
                как
                мистер &laquo;в&nbsp;шоубизнесе&raquo;.</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns coub sticky">
            <div class="iframewrapper">
                <iframe data-layzr="http://coub.com/embed/6yr3w?muted=false&autostart=false&originalSize=false&hideTopBar=true&startWithHD=false"
                        allowfullscreen="false" frameborder="0" width="100%"
                        height="400"></iframe>
            </div>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p>The Sleeper: </p>
            <blockquote>... And you try to&nbsp;forget your past&nbsp;<br/>But it&rsquo;s just adding to&nbsp;your pain&nbsp;<br/>And
                it&rsquo;s time for one more cigarette...
            </blockquote>
            <p>&mdash;&nbsp;не&nbsp;могу это слушать без волнения, слишком грустно, слишком просто, слишком прекрасно,
                слишком обыденно, слишком понятно, вот такая непретенциозная интонация.</p>

            <p>

                AI&nbsp;(1985), по-моему, просто какая-то чёрная жемчужина в&nbsp;противовес белой жемчужине Paris 1919
                (1973), потому что это&nbsp;&mdash; как&nbsp;бы начало и&nbsp;конец чего-то, что назовем периодом
                интенсивного рок-н-ролла.</p>

            <p>

                Vigilante Lover&nbsp;&mdash; что не&nbsp;песня, то&nbsp;шедевр. </p>

            <p>

                Black Rose&nbsp;&mdash; магазин Gibert Joseph Paris, 26-34, boulevard Saint Michel, 10h00-19h30, Metro
                Ligne
                4 : Odeon, Metro ligne 10 : Cluny&nbsp;&mdash; La&nbsp;Sorbonne как&nbsp;же это грустно, накануне
                отъезда из&nbsp;Парижа,
                Софи, мой друг звукооператор, подарила мне этот диск (AI), а&nbsp;я&nbsp;купил Vintage Violence Кейла&nbsp;же.
                Как всё это объяснить, время бежит, время убегает, время убегает слишком уж&nbsp;быстро, сколько людей
                ушло
                с&nbsp;того февраля 1998-го. Ветерок становится тёплым однако. Вот ведь оно как.</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns sticky">
            <img data-layzr="static/img/07_02.jpg" class="cover">

            <p class="author noindent">Джон Кейл с&nbsp;гитарой. Концерт по&nbsp;заказу Greenwave International. Москва,
                Театр Эстрады, 13.04.1999. Фото Н.Орлов</p>
        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">

            <p>&laquo;Время новостей&raquo;. 27.02.2006 11:01</p>

            <p>Гастроли зарубежных артистов&nbsp;&mdash; мероприятие серьезное и&nbsp;рассчитанное. Обычно все заранее
                знают, &laquo;кого везут&raquo;. Но&nbsp;и&nbsp;тут бывают приятные неожиданности. Выяснилось, что в&nbsp;Петербурге
                и&nbsp;Москве 12&nbsp;и&nbsp;14&nbsp;марта выступит певец, автор песен и&nbsp;мультиинструменталист Джон
                Кейл, бывший участник группы Velvet Underground, которую считают предтечей и&nbsp;панка, и&nbsp;альтернативы,
                и&nbsp;вообще много чего еще. Сам мистер Кейл&nbsp;&mdash; культовая фигура, неутомимый творец, музыкант
                с&nbsp;консерваторским
                образованием и&nbsp;композитор, писавший во&nbsp;всех мыслимых жанрах&nbsp;&mdash; от&nbsp;рок-хитов
                (альбом
                Vintage Violence) до&nbsp;балетов contemporary dance, киномузыки и&nbsp;электроники (предыдущий альбом
                Hobo
                Sapience&nbsp;&mdash; &laquo;Бродяга разумный&raquo;), прошедший испытание наркотиками, славой и&nbsp;рок-н-роллом.
                Джон Кейл родился в&nbsp;1942 году в&nbsp;глухой валлийской деревушке и&nbsp;до&nbsp;семи лет даже не&nbsp;говорил
                по-английски. Зато на&nbsp;скрипке начал играть чуть&nbsp;ли не&nbsp;в&nbsp;ясельном возрасте. В&nbsp;юношеские
                годы Кейл поехал учиться музыке в&nbsp;США, где свел дружбу с&nbsp;композиторами-авангардистами Ла&nbsp;Монте
                Янгом и&nbsp;Терри Райли. В&nbsp;настоящее время Джон Кейл живет в&nbsp;Нью-Йорке.</p>

            <p>Полгода назад наш корреспондент беседовал с&nbsp;Джоном Кейлом в&nbsp;преддверии выхода альбома Black
                Acetate, тогда он&nbsp;твердо заверил, что приехать в&nbsp;Россию в&nbsp;ходе нового турне ему никак не&nbsp;удастся,
                об&nbsp;этом речи нет. Хотя и&nbsp;очень хочется. Знаменитый музыкант уже выступал в&nbsp;Москве и&nbsp;Питере
                десять лет назад с&nbsp;сольной программой Fragmets of&nbsp;a&nbsp;Rainy Season&nbsp;&mdash; те&nbsp;замечательные
                концерты остались в&nbsp;памяти и&nbsp;публики, и&nbsp;самого артиста. Чтобы узнать, чего ждать от&nbsp;грядущих
                московских концертов, Джону КЕЙЛУ, который в&nbsp;тот момент находился в&nbsp;Испании, позвонил
                Александр
                БЕЛЯЕВ.</p>

            <p>&mdash;&nbsp;Как получилось, что вы&nbsp;все-таки приедете в&nbsp;Россию, хотя изначально наша страна не&nbsp;была
                включена в&nbsp;тур.</p>

            <p>&mdash;&nbsp;Да, это для меня тоже сюрприз&nbsp;&mdash; все решилось достаточно быстро и&nbsp;неожиданно.
                Мы&nbsp;сейчас
                в&nbsp;Испании, точнее, в&nbsp;Каталонии, и&nbsp;в&nbsp;течение всего европейского тура мы&nbsp;перемещаемся
                на&nbsp;автобусе, причем и&nbsp;группа, и&nbsp;персонал, и&nbsp;оборудование&nbsp;&mdash; оно у&nbsp;нас
                на&nbsp;крыше
                хранится. У&nbsp;меня даже мысли не&nbsp;возникло, что можно заехать в&nbsp;Россию. Но&nbsp;потом мы&nbsp;все-таки
                придумали, как это сделать: летим в&nbsp;Питер, оттуда едем в&nbsp;Москву, а&nbsp;все причиндалы на&nbsp;время
                оставляем в&nbsp;Европе.</p>

            <p>&mdash;&nbsp;На&nbsp;чем&nbsp;же вы&nbsp;играть будете?</p>

            <p>&mdash;&nbsp;Нет, все необходимое оборудование у&nbsp;нас здесь будет. Вы&nbsp;увидите полноценный
                концерт
                группы Джона Кейла, я&nbsp;вас уверяю.</p>

            <p>&mdash;&nbsp;Из&nbsp;чего состоит программа турне?</p>

            <p>&mdash;&nbsp;Семьдесят процентов&nbsp;&mdash; материал нового альбома Black Acetate. Играем кое-что
                старое,
                причем стараемся деконструировать материал или соединять две песни вместе.</p>

            <p>&mdash;&nbsp;Что вы&nbsp;смешиваете, а&nbsp;что разрушаете?</p>

            <p>&mdash;&nbsp;Деконструировали песню Gun с&nbsp;альбома Fеar (1974&nbsp;год. &mdash;&nbsp;А.Б.). На&nbsp;ней
                можно хорошо импровизировать&nbsp;&mdash; поэтому мы&nbsp;ставим ее&nbsp;в&nbsp;середине концерта, когда
                музыканты импровизируют друг с&nbsp;другом. Текст тоже меняется: изначально там речь идет о&nbsp;нью-йоркском
                детективе. А&nbsp;я&nbsp;каждый вечер придумываю какого-то нового героя. Последний раз спел о&nbsp;парне,
                который живет в&nbsp;аквариуме с&nbsp;рыбами.</p>

            <p>&mdash;&nbsp;Судя по&nbsp;всему, турне проходит весело?</p>

            <p>&mdash;&nbsp;Да, конечно. Я&nbsp;всем доволен&nbsp;&mdash; и&nbsp;публикой, и&nbsp;тем, как мы&nbsp;играем.
                Целый день ехать в&nbsp;автобусе так скучно, что когда выходишь на&nbsp;сцену, хочется оторваться по&nbsp;полной.
                И&nbsp;получается. Со&nbsp;мной сейчас работают очень хорошие ребята, молодые музыканты из&nbsp;Лос-Анджелеса.</p>

            <p>&mdash;&nbsp;Они играют и&nbsp;на&nbsp;альбоме...</p>

            <p>&mdash;&nbsp;Да, в&nbsp;одной вещи&nbsp;&mdash; Sold Motel. Я&nbsp;вообще-то не&nbsp;предполагал, что они
                будут моей группой,&nbsp;&mdash; просто пригласил их&nbsp;в&nbsp;студию, чтобы закончить один этот трек.
                Но&nbsp;мы&nbsp;сдружились
                и&nbsp;продолжили играть. Потому что хорошие человеческие отношения в&nbsp;коллективе важнее всего,
                одного
                музыкантского профессионализма для турне недостаточно. Не&nbsp;только потому, что, сталкиваясь с&nbsp;разными
                трудностями жизни в&nbsp;дороге, мы&nbsp;должны одинаково переносить их&nbsp;и&nbsp;все понимать. Это
                важно
                и&nbsp;для музыки: мы&nbsp;много импровизируем и&nbsp;должны друг друга чувствовать, должен быть
                человеческий контакт.</p>

            <p>&mdash;&nbsp;Что вы&nbsp;в&nbsp;Москве будете делать в&nbsp;свободное время?</p>

            <p>&mdash;&nbsp;У&nbsp;нас его почти не&nbsp;будет. После Москвы мы&nbsp;едем в&nbsp;Варшаву, оттуда в&nbsp;Берлин...
                очень плотное расписание. В&nbsp;такой ситуации единственное, что можно делать,&nbsp;&mdash; выспаться
                перед
                концертом. Если не&nbsp;отдохнуть, голос будет плохо &laquo;работать&raquo;, не&nbsp;будет слушаться.
                Хотя,
                конечно, мне&nbsp;бы хотелось еще разок взглянуть на&nbsp;Москву, сходить на&nbsp;художественные
                выставки. В&nbsp;прошлый
                раз я&nbsp;гулял по&nbsp;Москве, общался с&nbsp;разными людьми&nbsp;&mdash; это было очень приятно!</p>

            <p>&mdash;&nbsp;Вы&nbsp;выложили на&nbsp;стриминг сингл Turn the Lights On. Ваше отношение к&nbsp;музыке в&nbsp;Интернете?</p>

            <p>&mdash;&nbsp;Выкладывать музыку для свободного скачивания&nbsp;&mdash; это не&nbsp;такая примитивная
                идея,
                как кажется. Надо придумать стратегию, найти надежных людей, которые все сделают, иначе ничего не&nbsp;сработает
                и&nbsp;музыкант наживет кучу проблем.</p>

            <p>&mdash;&nbsp;Может быть, фанаты Джона Кейла вообще mp3-файлы не&nbsp;слушают, им&nbsp;нужен Кейл только
                на&nbsp;виниле?..</p>

            <p>&mdash;&nbsp;Может быть, не&nbsp;знаю. Я, честно говоря, вообще плохо знаю свою аудиторию, поскольку она
                все
                время меняется! Раньше меня слушали в&nbsp;основном взрослые люди, теперь, после рок-альбома Black
                Acetate,
                на&nbsp;концерты стало ходить много подростков.</p>

            <p>&mdash;&nbsp;На&nbsp;фотосессиях к&nbsp;последним двум альбомам вы&nbsp;как-то очень незатейливо одеты&nbsp;&mdash;
                человек без имиджа. Это странно для артиста, который играл в&nbsp;Velvet Underground и&nbsp;дружил с&nbsp;Энди
                Уорхолом...</p>

            <p>&mdash;&nbsp;Да, я&nbsp;не&nbsp;забочусь об&nbsp;имидже. У&nbsp;меня нет ни&nbsp;гримера, ни&nbsp;парикмахера!
                Мне нужно перемещаться быстро, не&nbsp;тратить время на&nbsp;все это. Да&nbsp;и&nbsp;вообще я&nbsp;не&nbsp;нашел
                свой имидж. Собственно, для моей музыки яркий внешний вид и&nbsp;не&nbsp;нужен. Я&nbsp;занят тем, что
                музыкант должен делать. Все остальное&nbsp;&mdash; лишнее.</p>

        </div>
    </div>


    <div class="row spacer"></div>


    <div class="row">

        <div class="large-4 medium-3 columns sticky">
            <img data-layzr="static/img/07_03.jpg" class="cover">


        </div>

        <div class="large-2 medium-0 columns"></div>

        <div class="large-10 medium-13 columns">


            <p>Вопрос: Начинали Вы&nbsp;с&nbsp;совсем другой музыки. Каково было очутиться в&nbsp;роли, не&nbsp;очень
                характерной для Вас,&nbsp;&mdash; роли рок-звезды?</p>

            <p> John Cale: У&nbsp;меня так&nbsp;же, как и&nbsp;у&nbsp;многих других, основной мотивацией играть
                рок-н-ролл
                было желание &laquo;зацепить&raquo; побольше девушек. И&nbsp;первое время это отлично удавалось, а&nbsp;заодно,
                в&nbsp;качестве побочного эффекта, мы&nbsp;слегка изменили рок-н-ролл.</p>

            <p>&nbsp;</p>

            <p>* * *</p>

            <p>Вопрос: Что изменилось в&nbsp;Вашем творческом процессе с&nbsp;60-х, 70-х? Что влияет на&nbsp;Вашу
                музыку?</p>

            <p>John Cale: В&nbsp;музыке возникло много элементов, я&nbsp;использую много современной техники,
                сэмплирование.
                Я&nbsp;общаюсь со&nbsp;многими ди-джеями, их&nbsp;идеи, их&nbsp;новый подход меняют и&nbsp;меня.</p>

            <p>&nbsp;</p>

            <p>* * *</p>

            <p>&laquo;Забриски Rider&raquo; N&nbsp;9 (1999&nbsp;г.) Ия&nbsp;Моцкобили &laquo;Джон Кейл&raquo;. Перед
                сольным
                концертом в&nbsp;Москве в&nbsp;Театре Эстрады.&nbsp;1999 </p>

            <p> John Cale: У&nbsp;меня есть особенность&nbsp;&mdash; я&nbsp;&laquo;надеваю на&nbsp;себя разные шляпы&raquo;.
                Иногда я&nbsp;играю с&nbsp;рок-группой, иногда&nbsp;&mdash; со&nbsp;струнным квартетом, с&nbsp;двумя
                гитаристами, иногда, как в&nbsp;этот раз, совсем один.</p>

            <p>&nbsp;</p>

            <p>* * *</p>

            <p>Вопрос: Многие музыканты работают в&nbsp;раз и&nbsp;навсегда выбранном жанре. Вы&nbsp;же пишете
                симфоническую
                музыку, авангардную музыку, поп-песни. Что заставляет вас меняться?</p>

            <p> John Cale: Я&nbsp;немного нетерпелив, и&nbsp;лучше всего у&nbsp;меня получается работа, когда я&nbsp;меняюсь,
                когда я&nbsp;имею дело с&nbsp;разными материалами. Одним художникам нравится работать с&nbsp;глиной,
                другие
                предпочитают мрамор, третьи&nbsp;&mdash; краски, мне&nbsp;же нравится переключаться с&nbsp;одного на&nbsp;другое&nbsp;&mdash;
                так у&nbsp;меня сохраняется свежесть восприятия.</p>

            <p>&nbsp;</p>

            <p>* * *</p>

            <p>Апрель 1999, Сергей Чернов (FUZZ)</p>

            <p> John Cale: Я&nbsp;до&nbsp;сих пор ощущаю, что я&nbsp;нахожусь где-то между арт-миром и&nbsp;музыкальной
                индустрией, это странное положение, но&nbsp;я&nbsp;чувствую себя вполне комфортно. Я&nbsp;путешествую,
                по&nbsp;большей
                части работаю в&nbsp;Европе, но&nbsp;для меня важно приезжать в&nbsp;Нью-Йорк, где находятся все мои
                высокотехнологичные &laquo;игрушки&raquo;. Каждое утро я&nbsp;читаю по&nbsp;Интернету английские газеты,
                каждое утро я&nbsp;слушаю по&nbsp;Интернету &laquo;BBC&raquo;, я&nbsp;даже слушаю по&nbsp;утрам &laquo;BBC&raquo;
                на&nbsp;уэльском языке. Несмотря на&nbsp;то, что я&nbsp;работаю в&nbsp;основном в&nbsp;Европе, с&nbsp;Нью-Йорком
                у&nbsp;меня по-прежнему есть связь благодаря нью-йоркскому арт-коммьюнити, которое все так&nbsp;же
                служит
                сильным источником вдохновения для рок-н-ролла или чем&nbsp;бы вы&nbsp;не&nbsp;назвали&nbsp;то, что я&nbsp;делаю.</p>

        </div>
    </div>


    <div class="row spacer"></div>
</section>