<section class="pt-page full">


    <div class="enter">

        <div class="row v-centered">


            <div  class="large-16 columns large-centered medium-16 medium-centered small-16 small-centered">


            <h1 class="maintitle black">Джон Кейл</h1>
            <h2 class="subtitle black">вне и внутри синдиката снов</h2>


        <iframe class="relat ml20" width="60%" height="10%"
                src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&embed_uuid=b41c20e3-abf8-4427-8d0f-0565975b6f5c&feed=https%3A%2F%2Fwww.mixcloud.com%2Fkhabaroff%2Fjohn-cale-ultimate-mix%2F&amp;hide_cover=0&light=1&replace=0&stylecolor=141414"
                frameborder="0"></iframe>


        <p class="author noindent centertext">
            Текст — Данила Кольцов<br/>
            Дизайн — Ксения Мискарян<br/>
            Верстка — Сергей Хабаров<br/><br/>

            Впервые опубликовано <a target="_blank" href="http://ramones.ru/board/topic553.html">на форуме ramones.ru</a> в 2006
            году.


        </p>

                <h1 class="maintitle hover rarrow black">&rarr;</h1>


    </div> </div>
    </div>





</section>