<section class="pt-page">


    <div class="row spacer"></div>


    <div class="row">


        <div class="large-3 medium-1 columns">&nbsp;</div>

        <div class="large-10 medium-14 columns centertext">

            <h1>Джон Кейл</h1>

            <p class="noindent ptitle centertext"><i>вне и внутри синдиката снов</i></p>


            <iframe class="relat" width="100%" height="700"
                    src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&embed_uuid=b41c20e3-abf8-4427-8d0f-0565975b6f5c&feed=https%3A%2F%2Fwww.mixcloud.com%2Fkhabaroff%2Fjohn-cale-ultimate-mix%2F&amp;hide_cover=0&light=1&replace=0&stylecolor=141414"
                        frameborder="0"></iframe>


            <p class="author noindent centertext">
                Текст — Данила Кольцов<br/>
                Дизайн — Ксения Мискарян<br/>
                Верстка — Сергей Хабаров<br/><br/>

                Впервые опубликовано <a href="http://ramones.ru/board/topic553.html">на форуме ramones.ru</a> в 2006
                году.


            </p>
            <br/>

        </div>

        <div class="large-3 medium-1 columns">&nbsp;</div>


    </div>


    <div class="row spacer"></div>
</section>