<section class="animsition">


    <div class="row spacer"></div>


    <div class="row">


        <div class="large-3 medium-1 columns">&nbsp;</div>

        <div class="large-10 medium-14 columns centertext">

            <h1>Джон Кейл</h1>

            <p class="noindent ptitle centertext"><i>вне и внутри синдиката снов</i></p>

            <div class="iframewrapper">

                <iframe class="relat" width="700" height="660"
                        src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=831a5c79-cdd0-457a-adcc-f15e2d7f9528&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2Fkhabaroff%2Fjohn-cale-ultimate-mix%2F&amp;hide_cover=1&amp;replace=0&amp;stylecolor=141414"
                        frameborder="0"></iframe>
            </div>

            <p class="author noindent centertext">
                Текст — Данила Кольцов<br/>
                Дизайн — Ксения Мискарян<br/>
                Верстка — Сергей Хабаров<br/><br/>

                Впервые опубликовано <a href="http://ramones.ru/board/topic553.html">на форуме ramones.ru</a> в 2006
                году.


            </p>
            <br/>

        </div>

        <div class="large-3 medium-1 columns">&nbsp;</div>


    </div>


    <div class="row spacer"></div>
</section>