<!doctype html>
<html class="no-js" lang="en" prefix='og: http://ogp.me/ns#'>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Джон Кейл — вне и внутри синдиката снов — JohnCale.ru</title>

    <link rel="stylesheet" type="text/css" href="static/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/fonts/font.css">
    <link rel="stylesheet" type="text/css" href="static/css/animations.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/component.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/app.css">

    <meta property="og:url" content="http://johncale.ru/"/>
    <meta property="og:site_name"
          content="Джон Кейл — вне и внутри синдиката снов"/>
    <meta property="og:title"
          content="Джон Кейл — вне и внутри синдиката снов"/>
    <meta property="og:description"
          content="Текст — Данила Кольцов. Впервые опубликовано на форуме ramones.ru в 2006 году."/>
    <meta property="og:image"
          content="http://johncale.ru/static/img/share.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@khabaroff">
    <meta name="twitter:creator" content="@khabaroff">
    <meta name="twitter:title"
          content="Джон Кейл — вне и внутри синдиката снов">
    <meta name="twitter:description"
          content="Текст — Данила Кольцов. Впервые опубликовано на форуме ramones.ru в 2006 году.">
    <meta name="twitter:image:src"
          content="http://johncale.ru/static/img/share.jpg">


    <link rel="apple-touch-icon" sizes="57x57"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="http://johncale.ru/static/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png"
          href="http://johncale.ru/static/img/favicons/favicon-32x32.png"
          sizes="32x32">
    <link rel="icon" type="image/png"
          href="http://johncale.ru/static/img/favicons/android-chrome-192x192.png"
          sizes="192x192">
    <link rel="icon" type="image/png"
          href="http://johncale.ru/static/img/favicons/favicon-96x96.png"
          sizes="96x96">
    <link rel="icon" type="image/png"
          href="http://johncale.ru/static/img/favicons/favicon-16x16.png"
          sizes="16x16">
    <link rel="manifest" href="http://johncale.ru/static/img/favicons/manifest.json">
    <meta name="msapplication-config"
          content="http://johncale.ru/static/img/favicons/browserconfig.xml"/>
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage"
          content="http://johncale.ru/static/img/favicons/mstile-144x144.png">





</head>
<body>

//= afterbody.html


<div class="pt-perspective">


    <a href="#" class="paginator left"><</a>
    <a class="paginator right" href="#">></a>

    //= 00.html
    //= 01.html
    //= 02.html
    //= 03.html
    //= 04.html
    //= 05.html
    //= 06.html
    //= 07.html
    //= 08.html
    //= 09.html


</div>

<script type="text/javascript" src="static/js/app.min.js"></script>

</body>
</html>
